@font-face {
    font-family: Helvetica;
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Helvetica/100.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Helvetica/100-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Helvetica/200.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 200;
    font-style: italic;
    src: url(../fonts/Helvetica/200-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Helvetica/300.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/Helvetica/300-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Helvetica/400.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/Helvetica/400-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Helvetica/500.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/Helvetica/500-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Helvetica/600.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/Helvetica/600-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Helvetica/700.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/Helvetica/700-italic.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/Helvetica/800.otf);
}
@font-face {
    font-family: Helvetica;
    font-weight: 800;
    font-style: italic;
    src: url(../fonts/Helvetica/800-italic.otf);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: Swissra;
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Swissra/100.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Swissra/200.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Swissra/300.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Swissra/400.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Swissra/500.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Swissra/600.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Swissra/700.otf);
}
@font-face {
    font-family: Swissra;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/Swissra/800.otf);
}