@import 'fonts';
@import 'custom';

.home-header{
    .linear-background{
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
        height: 100%;
        width: 100%;
    }
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    animation: slider-animate 10s infinite alternate;
}

.breadcrumb-div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .current-page{
        color: #D5D5D5;
    }
}

.internal-header{
    background-size: cover;
    background-position: center center;
    height: 350px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    .internal-title{
        h4{
            font-size: 40px;
        }
        .sub-internal-title{
            color: #D9D9D9;
            font-size: 22px;
            font-weight: 400;
            margin: 20px 0;
        }
    }
}

@keyframes slider-animate {
    0% {
        background-image: url(../images/herobox-1.png);
    }
    33% {
        background-image: url(../images/herobox-2.png);
    }
    66% {
        background-image: url(../images/herobox-3.png);
    }
    100% {
        background-image: url(../images/herobox-1.png);
    }
}

.main-logo{
    margin-inline-end: 15px;
    height: 50px;
    object-fit: contain;
}

.main-btn{
    height: 50px;
    width: 100%;
    background-color: #532259;
    border: 1px solid #532259;
    color: $secondary-color;
    border-radius: 5px;
    font-size: 18px;
}

.account .main-btn{
    height: 65px !important;
}

#login-otp{
    form{
        margin-top: 30px;
    }
    .verification-code--inputs{
        direction: ltr;
        margin-top: 10px;
        width: 250px;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        input{
            font-weight: bold;
            height: 50px;
            width: 50px;
            border-radius: 5px !important;
            border: 1px solid #9A9A9A;
            text-align: center;
        }
    }
}

a.main-btn{
    @extend .main-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px !important;
    font-size: 16px;
}

.esta2nas{
    padding: 20px 25px;
}
.est2nas-content{
    border-radius: 5px;
    h4{
        font-size: 24px;
        color: $light-primary-color;
        margin-bottom: 15px;
    }
    h2{
        font-size: 56px;
        color: $primary-color;
    }
}

nav{
    ul{
        .nav-item{
            margin: 0px 5px;
            .nav-link{
                color: $secondary-color !important;
                transition: all 0.3s;
                &:hover, &:active{
                    color: $acent-color !important;
                    transition: all 0.3s;
                }
            }
            .nav-link.active{
                color: $acent-color !important;
            }
        }
    }
    .dropdown-item{
        padding: 0px;
    }
}

.currency{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 2px solid;
    border-color: #D0D0D0;
    border-radius: 5px;
    overflow: hidden;
    i{
        color: #4EAC46;
    }
    img{
        border-radius: 2px;
        object-fit: cover;
        height: 18px;
        width: 30px;
        border: 1px solid #d0d0d0;
    }
    span{
        font-size: 14px;
        margin-inline-start: 5px;
    }
}

i{
    font-family: "FontAwesome" !important;
}

.language-logo{
    border-radius: 2px;
    object-fit: cover;
    height: 18px;
    width: 30px;
}

.dropdown-menu[data-bs-popper]{
    max-height: 600px;
    overflow-y: auto;
}

.currency.selected{
    border-color: #4EAC46;
    span{
        font-weight: 500;
    }
}

[lang="en"] .dropdown-menu[data-bs-popper]{
    left: unset;
    right: 0px;
}

.hero-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    .hero-title{
        font-size: 68px;
        text-align: center;
        color: $secondary-color;
    }
    .hero-description{
        font-size: 32px;
        color: $secondary-color;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-tabs{
        background-color: rgba(185, 185, 185, 0.16);
        backdrop-filter: blur(8px);
        padding: 20px 0px;
        img{
            filter: grayscale(1);
        }
        .nav-link{
            color: #FFFFFF;
            font-size: 20px;
        }
        .nav-link.active{
            color: #DDDD01;
            background-color: transparent;
            img{
                filter: grayscale(0);
            }
        }
        .radios{
            display: flex;
            align-items: center;
            justify-content: start;
            .form-group{
                margin-inline-end: 30px;
                input[type='radio']{
                    height: 18px;
                    width: 18px;
                }
                label{
                    font-size: 16px;
                    color: $secondary-color;
                }
            }
        }
        .form-groups{
            display: flex;
            align-items: center;
        }
    }
}


.title-div{
    .sub-title{
        margin-bottom: 15px;
    }
    .main-title{
        h3{
            color: $primary-color;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                color: #532259;
                font-size: 16px;
            }
        }
    }
}

.content{
    margin-top: 25px;
}

.registered-link{
    display: flex;
    align-items: center;
}

.default-profile-picture{
    height: 30px;
    width: 30px;
    background-color: #2BB2E1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    border-radius: 50%;
    margin-inline-end: 5px;
}

.service-card{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF;
    border-radius: 5px;
    .icon-bg{
        margin-inline-end: 10px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E4F5FB;
        border-radius: 50%;
        img{
            height: 25px;
            object-fit: contain;
        }
    }
}

.icon-bg{
    margin-inline-end: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4F5FB;
    border-radius: 50%;
    img{
        height: 25px;
        object-fit: contain;
    }
}

.static-page{
    .main-title{
        h3{
            font-size: 28px;
            color: $primary-color;
        }
    }
}

.inner-services{
    padding: 0;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    .single-category{
        background-color: #E4F5FB;
        color: #2BB2E1;
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 50px;
    }
}

.trip-category{
    width: fit-content;
    background-color: #E4F5FB;
    border-radius: 3px;
    padding: 3px 15px;
}

.separator-trip{
    height: 100%;
    width: 0px;
    border-left: 2px dashed #BDBDBD;
}

.padding-div{
    margin-bottom: 45px;
}

.luggage-div{
    padding: 15px 50px 15px 20px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    width: fit-content;
    i{
        color: #139008;
    }
}

.airline-rectangle{
    border: 1px solid #A0A0A0;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

p{
    .available-on{
        color: #532259;
        text-decoration: underline;
        font-weight: bold;
    }
}

.package-card{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 20px;
    .package-badge{
        border-radius: 50px;
        padding: 3px 15px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        span{
            color: $primary-color;
            font-size: 12px;
        }
    }
    h3{
        padding-inline-end: 70px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .location{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        span{
            color: #D9D9D9;
            font-size: 14px;
        }
    }
}

.services{
    .service-div{
        padding: 30px 0px;
    }
    .odd-div{
        background-color: #F7F7F7;
    }
    
    .even-div{
        background-color: #FFFFFF;
    }
    .title-div{
        h3{
            color: $primary-color;
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}

.offer-end{
    font-size: 16px;
    color: #FC0505;
}

.main-offer{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 8px;
    .offer-img{
        img{
            height: 300px;
            object-fit: cover;
            width: 100%;
        }
    }
}
.discover-more{
    color: #532259;
    text-decoration: underline;
    font-size: 16px;
}

.gap-15{
    gap: 15px;
}
.gap-10{
    gap: 10px;
}

.category-badges{
    width: fit-content;
    padding: 6px 10px;
    color: $primary-color;
    background-color: #E4F5FB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 14px;
    }
}

.offer-title{
    margin-top: 15px;
    h4{
        font-size: 22px;
        color: $primary-color;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.offer-description{
    p{
        font-size: 16px;
        color: $light-primary-color;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

.details-section{
    padding: 0px;
    .details-div{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-inline-end: 30px;
    }
    .title-div{
        .sm-main-title{
            h3{
                color: $primary-color;
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
    }
    .download-div{
        margin-top: 20px;
        .download-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 1px solid #D9D9D9;
            color: #532259;
            font-size: 18px;
            height: 52px;
            background-color: #FFFFFF;
            width: 400px;
            border-radius: 5px;
            padding: 15px 45px;
            font-weight: 500;
            max-width: 100%;
        }
    }
}

.contact-card{
    padding: 70px 20px 30px;
    border: 1px solid #DEDEDE;
    .whatsapp-div{
        background-color: #25D366;
        height: 52px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 15px;
        border-radius: 5px;
        i{
            color: $secondary-color;
            font-size: 20px;
        }
    }
    .form-group{
        .personal-title{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 15px;
        }
        input[type="text"], input[type="email"]{
            height: 50px;
            &::placeholder{
                font-size: 14px;
                color: #DEDEDE;
            }
        }
        margin-top: 20px;
        label{
            margin-bottom: 5px;
        }
        .item{
            border: 1px solid #DEDEDE;
            height: 48px;
            width: 85px;
            background-color: $secondary-color;
            border-radius: 5px;
            padding: 10px 15px;
            color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .item.active{
            background-color: #532259;
            color: $secondary-color;
        }
    }
    .main-btn {
        height: 65px !important;
    }
}

.accordion-body{
    img{
        height: 300px;
        object-fit: contain;
        max-width: 100%;
    }
}

.accordion-button{
    // &:first-of-type{
    //     padding-top: 0;
    // }
    // &:last-of-type{
    //     padding-bottom: 0;
    // }
}

.accordion{
    --bs-accordion-border-width: none !important;
}

.accordion-button.collapsed{
    .accordion-circle{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #2BB2E1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #fff;
        z-index: 15;
        .inner-circle{
            height: 17px;
            width: 17px;
            border: 1px solid #FFF;
            background-color: #FFF;
            border-radius: 50%;
        }
    }
    
}
.accordion-button:not(.collapsed){
    .accordion-circle{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #2BB2E1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #fff;
        z-index: 15;
        .inner-circle{
            height: 17px;
            width: 17px;
            border: 1px solid #FFF;
            background-color: #2BB2E1;
            border-radius: 50%;
        }
    }
}

.accordion-button{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
    position: unset !important;
    gap: 10px;
    &:focus{
        box-shadow: none;
    }
}

.jawak{
    background-blend-mode:  unset !important;
    height: 100vh !important;
}

.price-div{
    padding: 20px 15px;
    .price-content{
        border: 1px solid #DDDD01;
        border-radius: 3px;
        padding: 20px 15px;
        width: fit-content;
        h4{
            color: $light-primary-color;
            font-size: 16px;
            span{
                font-size: 24px;
                color: $primary-color;
            }
        }
    }
}

.seats-div{
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    padding: 10px 15px;
    width: fit-content;
    margin: auto;
}

.vertical-line{
    height: 100%;
    width: 2px;
    position: absolute;
    left: 82px;
    background-color: #45BCE5;
    z-index: 4;
}
.vertical-line.package-vertical{
    left: 25px;
}

.cabin-img{
    max-width: 100%;
}

.contact-paragraph{
    font-size: 16px;
    color: #3D3D3D;
}

.custom-fc{
    margin-top: 70px !important;
}

.accordion-time{
    gap: 15px;
    // border-inline-end: 1px solid #2BB2E1;
}

.accordion-button:not(.collapsed){
    background-color: #FFFFFF;
}

.terms-section{
    margin-top: 40px;
    .terms-div{
        box-shadow: 0px 0px 10px 0px #0000000F;
        border: 1px solid #E0E0E0;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        .terms-item{
            display: flex;
            align-items: start;
            margin-bottom: 20px;
            img{
                margin-top: 5px;
            }
            &:last-of-type{
                margin-bottom: 0px;
            }
        }
    }
}

.profile{
    .profile-pic-div{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        .user-number{
            color: #DEDEDE;
        }
    }
    #imagePreview{
        height: 90px;
        width: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .profile-tabs{
        button{
            width: 100%;
            background-color: #FFF;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            span{
                color: $primary-color;
                font-weight: 500;
            }
        }
        button.active{
            background-color: #F5F5F5;
            box-shadow: 0px 4px 12px 0px #0000001F;
            span{
                color: $primary-color;
            }
        }
    }
    .tab-item{
        border: 1px solid #DEDEDE;
        border-radius: 5px;
    }
}

.tab-item-body{
    input{
        &::placeholder{
            font-size: 14px;
        }
    }
}

.text-transparent{
    color: transparent;
    user-select: none
}

.tab-item-header{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 30px;
    border-bottom: 1px solid #DEDEDE;
}

.bordered-top{
    border-top: 1px solid #DEDEDE;
}

.offer-card{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 8px;
    img{
        height: 250px;
        object-fit: cover;
        width: 100%;
    }
    .card-content{
        padding: 10px;
        h4{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        a{
            color: #532259;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 400;
        }
        p{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .badges{
        .category-badges{
            border-radius: 2px;
            padding: 4px 8px;
            span{
                font-size: 12px;
            }
        }
        position: absolute;
        top: 10px;
        left: 10px;
        img{
            height: 20px;
            object-fit: contain;
            width: unset !important;
        }
    }
}

.wayana-card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    .airline{
        display: flex;
        align-items: center;
        img{
            width: unset !important;
        }
        .airline-bg{
            height: 20px;
            width: 20px;
            background-color: $secondary-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .calendar-icon{
        width: unset !important;
    }
    h5{
        color: #2BB2E1;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }
}

.esta2nas{
    padding: 20px 0px;
    .est2nas-content{
        background-color: #E4F5FB;
        
    }
}

.stop-flights{
    input[type="checkbox"]{
        height: 18px;
        width: 18px;
    }
}

#switcher{
    cursor: pointer;
}

.footer{
    background-color: #F7F7F7;
    margin-top: 25px
}

footer{
    padding: 50px 0px 20px;
    background-image: url(../images/World\ Map.png),linear-gradient(#532259, #532259);
    background-position: center center;
    .footer-logo{
        margin-bottom: 15px;
    }
    .footer-item{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a{
            color: $secondary-color;
            font-size: 18px;
            font-weight: 300;
        }
    }
    .social-media{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #2BB2E1;
        margin-inline-end: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lower-footer{
        border-top: 1px solid $primary-color;
        padding: 20px 0px 0px;
        margin-top: 20px
    }
}

.retrive{
    .content{
        width: 600px;
        max-width: 100%;
        margin: 0px auto;
        img{
            height: 300px;
        }
        h3{
            font-size: 40px;
            color: #532259;
            font-weight: 500;
        }
        h5{
            color: $primary-color;
            font-size: 24px;
            font-weight: 500;
            margin: 15px 0px;
        }
        p{
            font-size: 16px;
            color: $primary-color;
            font-weight: 400;
        }
    }
}

.account{
    .auth-card{
        border: 1px solid #D9D9D9;
        padding: 20px 40px;
        .nav-pills{
            border-bottom: 1px solid #D9D9D9;
            .nav-link{
                color: $light-primary-color;
                font-weight: 400;
            }
            .nav-link.active{
                background-color: transparent;
                border-bottom: 2px solid #532259;
                border-radius: 0px;
                color: $primary-color;
                font-weight: 500;
            }
        }
        input{
            border-color: #D9D9D9 !important;
            &:focus{
                border-color: #D9D9D9 !important;
            }
        }
        .eye{
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 18px;
        }
        input[type="checkbox"]{
            height: 15px;
            width: 15px;
        }
        h5{
            a{
                color: #2BB2E1;
            }
        }
    }
}

.iti__search-input{
    padding: 10px 20px !important;
}

.login-text{
    display: flex;
    align-items: center;
    padding: 0px 55px;
    .content{
        img{
            height: 350px;
            object-fit: contain;
        }
        h5{
            font-size: 24px;
            font-weight: 500;
            color: $primary-color;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color: $primary-color;
        }
    }
}

#nav-tabs{
    gap: 20px;
    .nav-link{
        background-color: rgba(185, 185, 185, 0.16);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color;
        img{
            filter: grayscale(1);
        }
    }
    .nav-link.active{
        color: #DDDD01;
        img{
            filter: grayscale(0);
        }
    }
}

.offers{
    .title-div{
        h3{
            color: $primary-color;
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}

.domestic-details{
    padding: 60px 0px !important;
    .details-div{
        padding-top: 0px !important;
    }
    .contact-card{
        padding: 30px 20px 30px;
    }
    .owl-carousel{
        padding: 0px 50px;
        position: relative;
    }
    .owl-nav.disabled{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 42%;
        width: 100%;
        right: 0px;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border: 1px solid $primary-color;
            border-radius: 50%;
            span{
                font-size: 40px;
                font-weight: 300;
                margin-bottom: 3px;
            }
        }
    }
}

.hotel-card{
    height: 265px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    h4{
        margin-bottom: 30px;
        font-size: 22px;
    }
    .city-badge{
        background-color: $secondary-color;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        span{
            font-size: 12px;
            padding: 3px 12px;
            color: $primary-color;
        }
    }
}

.est2nas-title{
    h2{
        color: #532259;
        font-size: 48px;
        font-weight: 500;
    }
    h4{
        color: $light-primary-color;
        font-size: 20px;
        font-weight: 400;
        span{
            color: #2BB2E1;
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.est2nas-details{
    background-color: #F7F7F7;
    .subscribe{
        padding: 25px 0px;
        height: 35px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: #532259;
        color: #FFFFFF;
        text-align: center;
    }
    .est2nas-sub-title{
        line-height: 1.5;
        margin: 20px 0px 50px;
    }
    .terms-item{
        margin-bottom: 30px !important;
        &:last-of-type{
            margin-bottom: 0px !important;
        }
    }
}

.no-wrap{
    text-wrap: nowrap;
}

.ticket{
    .d-flex{
        text-wrap: wrap;
    }
}

.stop-2{
    border-top: 2px dashed #E0E0E0;
    margin-top: 30px;
    padding-top: 30px;
}

.outer-ticket{
    padding: 40px 30px 20px;
  }
  .inner-ticket{
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  .ticket-cover{
    border: 1px solid #D0D0D0;
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .left-side{
    width: 70%;
    border-right: 2px dashed #D0D0D0;
    position: relative;
    .extra-info{
        background-color: #E4F5FB;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 35px;
        padding: 5px 15px;
        margin-bottom: 5px;
        span{
            font-size: 14px;
            color: $primary-color;
        }
    }
    .airline{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px 0px;
        background-color: #E4F5FB;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding: 8px 15px 8px 5px;
        .airline-logo{
            background-color: #FFFFFF;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .ticket-info{
        padding: 65px 20px 25px;
    }
    .trip-line{
        height: 2px;
        border: 2px dashed #DEDEDE;
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: -12px;
            left: 46%;
        }
    }
  }
  .right-side{
    width: 30%;
  }
  .circle-div{
    position: absolute;
    left: -35px;
    border: 1px solid #D0D0D0;
    background-color: #FFFFFF;
    z-index: 999999;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .ceil-circle{
    top: -40px;
  }
  .floor-circle{
    bottom: -40px;
}

.inner-tabs{
    margin: 0px 50px;
    background-color: #F5F5F5;
    padding: 0px 20px;
    border-radius: 50px;
    .nav-link{
        width: 100%;
        color: $light-primary-color;
    }
    .nav-link.active{
        background-color: #2BB2E1;
        border-radius: 50px;
    }
}

.charter{
    .left-side{
        width: 75%;
    }
    .right-side{
        width: 25%;
    }
}

#w-unset{
    width: unset !important;
}

.gap-8{
    gap: 8px;
}

.filter-item{
    padding: 10px 0px;
    border-bottom: 1px solid #D0D0D0;
    .reset-filter{
        color: #532259;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 500;
    }
    input[type="checkbox"]{
        height: 20px;
        width: 20px;
    }
    input[type="range"]{
        accent-color: red;
    }
}

.outer-tabs{
    padding: 25px 0px;
    .nav-pills{
        border-bottom: 1px solid #D9D9D9;
        .nav-link{
            color: $light-primary-color;
            font-weight: 400;
        }
        .nav-link.active{
            background-color: transparent;
            border-bottom: 2px solid #532259;
            border-radius: 0px;
            color: $primary-color;
            font-weight: 500;
        }
    }
}

.intl-tel-input,
.iti{
  width: 100%;
}

#travellers_and_class{
    background-color: #E4F5FB;
}


#loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #532259;
    z-index: 9999999999999999999999999999999;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50px;
    height: 50px;
    font-size: 0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  #loader div {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
    img{
        height: 350px;
        object-fit: contain;
    }
  }
  
  #loader div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  
  @-webkit-keyframes ballPulseDouble {
  
    0%,
    100% {
        opacity: 1;
    }
  
    50% {
        opacity: 0.5;
    }
  }
  
  @keyframes ballPulseDouble {
  
    0%,
    100% {
        opacity: 1;
    }
  
    50% {
        opacity: 0.5;
    }
  }

@import 'arStyle';

@import 'responsive';