@font-face {
  font-family: Helvetica;
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/Helvetica/100.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 100;
  font-style: italic;
  src: url(../fonts/Helvetica/100-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/Helvetica/200.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 200;
  font-style: italic;
  src: url(../fonts/Helvetica/200-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Helvetica/300.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/Helvetica/300-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Helvetica/400.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/Helvetica/400-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Helvetica/500.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 500;
  font-style: italic;
  src: url(../fonts/Helvetica/500-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Helvetica/600.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/Helvetica/600-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Helvetica/700.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/Helvetica/700-italic.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Helvetica/800.otf);
}
@font-face {
  font-family: Helvetica;
  font-weight: 800;
  font-style: italic;
  src: url(../fonts/Helvetica/800-italic.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/Swissra/100.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/Swissra/200.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Swissra/300.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Swissra/400.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Swissra/500.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Swissra/600.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Swissra/700.otf);
}
@font-face {
  font-family: Swissra;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Swissra/800.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

[lang=en] * {
  font-family: "Helvetica";
}

.overlay-background {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.navbar-toggler {
  border: 1px solid #FFF;
}
.navbar-toggler:focus {
  box-shadow: unset !important;
}

.otp-item:focus-visible {
  outline: #000;
}

.bt-none {
  border-top: none !important;
}

.bb-none {
  border-bottom: none !important;
}

input[type=radio] {
  accent-color: #239cc6;
}

input[type=checkbox] {
  accent-color: #239cc6;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  filter: invert(1);
}

video[poster] {
  cursor: pointer;
}

[lang=ar] * {
  direction: rtl;
}
[lang=ar] input[type=email] {
  direction: rtl;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #000 !important;
}

.text-light-primary {
  color: #666666 !important;
}

.text-secondary {
  color: #FFFFFF !important;
}

.text-acent {
  color: #239cc6 !important;
}

.text-default {
  color: #A5A5A5 !important;
}

.bg-primary {
  background-color: #000 !important;
}

.bg-light-primary {
  background-color: #666666 !important;
}

.bg-secondary {
  background-color: #FFFFFF !important;
}

.bg-acent {
  background-color: #239cc6 !important;
}

.bg-default {
  background-color: #A5A5A5 !important;
}

.font-xxs {
  font-size: 10px;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-normal, p {
  font-size: 16px;
}

.font-regular {
  font-size: 18px;
}

.font-lg {
  font-size: 20px;
}

.font-xl {
  font-size: 22px;
}

.font-xxl {
  font-size: 24px;
}

.font-3xl {
  font-size: 28px;
}

.font-4xl {
  font-size: 32px;
}

.font-extra {
  font-size: 36px;
}

.fw-xxs {
  font-weight: 100;
}

.fw-xs {
  font-weight: 200;
}

.fw-sm {
  font-weight: 300;
}

.fw-normal, p {
  font-weight: 400;
}

.fw-regular {
  font-weight: 500;
}

.fw-lg {
  font-weight: 600;
}

.fw-xl {
  font-weight: 700;
}

.fw-xxl {
  font-weight: 800;
}

.fw-extra {
  font-weight: 900;
}

.of-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.of-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.border-radius-50 {
  border-radius: 50px !important;
}

.modal-dialog-md {
  max-width: 580px;
}

.nice-select {
  display: flex;
  align-items: center;
  padding-right: 18px;
  padding-left: 30px;
}
.nice-select:after {
  left: 12px;
  right: unset;
}
.nice-select ul.list {
  min-width: 100%;
}
.nice-select ul.list li {
  text-align: right;
  padding-right: 10px;
  padding-left: 18px;
  font-size: 14px;
}
.nice-select ul.list li:hover {
  background-color: #D0D0D0 !important;
  color: #000;
}
.nice-select ul.list .selected {
  background-color: #D0D0D0 !important;
  color: #000;
}
.nice-select span.current {
  color: #666666;
  font-size: 14px;
}

[lang=en] ul.list li {
  text-align: left;
  padding-left: 10px;
  padding-right: 18px;
}

.border-none {
  border: none !important;
}

.nice-w-100 {
  width: 100%;
  display: flex;
  align-items: center;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.padding-10 {
  padding: 10px 0px;
}

.padding-20 {
  padding: 20px 0px;
}

.padding-30 {
  padding: 30px 0px;
}

.padding-40 {
  padding: 40px 0px;
}

.padding-50 {
  padding: 50px 0px;
}

.padding-60 {
  padding: 60px 0px;
}

.padding-70 {
  padding: 70px 0px;
}

.padding-80 {
  padding: 80px 0px;
}

.padding-90 {
  padding: 90px 0px;
}

.padding-100 {
  padding: 100px 0px;
}

.max-w-100 {
  max-width: 100%;
}

input {
  height: 50px;
  border-radius: 5px;
  overflow: visible;
}
input::-moz-placeholder {
  color: #666666 !important;
  font-size: 14px;
}
input::placeholder {
  color: #666666 !important;
  font-size: 14px;
}

.input-group-text {
  background-color: #FFF;
  padding-inline-end: 0px;
}

.niceSelect {
  height: 50px;
}

.included-input {
  border-left: none;
  border-radius: 0px 5px 5px 0px !important;
}

select {
  height: 50px;
  border-radius: 12px !important;
  color: #adadad !important;
  font-size: 14px;
}

textarea {
  border-radius: 12px !important;
}
textarea::-moz-placeholder {
  color: #adadad !important;
  font-size: 14px;
}
textarea::placeholder {
  color: #adadad !important;
  font-size: 14px;
}
textarea option {
  color: #FFFFFF;
}

p {
  line-height: 1.7;
}

.form-control:focus {
  box-shadow: unset !important;
  border-color: #FFFFFF;
}

.form-group {
  margin-bottom: 10px;
}

section {
  padding: 40px 0px;
}

@media (max-width: 550px) {
  .font-xxs {
    font-size: 6px;
  }
  .font-xs {
    font-size: 8px;
  }
  .font-sm {
    font-size: 12px;
  }
  .font-normal, p {
    font-size: 12px;
  }
  .font-regular {
    font-size: 14px;
  }
  .font-lg {
    font-size: 16px;
  }
  .font-xl {
    font-size: 18px;
  }
  .font-xxl {
    font-size: 20px;
  }
  .font-3xl {
    font-size: 22px;
  }
  .font-4xl {
    font-size: 24px;
  }
  .font-extra {
    font-size: 26px;
  }
  .mt-3-sm {
    margin-top: 1rem;
  }
  .mb-3-sm {
    margin-bottom: 1rem;
  }
  .mb-4-sm {
    margin-bottom: 1.5rem;
  }
  .mb-0-sm {
    margin-bottom: 0 !important;
  }
  .mb-1-sm {
    margin-bottom: 0.5rem !important;
  }
  .mb-2-sm {
    margin-bottom: 0.75rem !important;
  }
  .mb-3-sm {
    margin-bottom: 1rem !important;
  }
  .mb-4-sm {
    margin-bottom: 1.5rem !important;
  }
  .mb-5-sm {
    margin-bottom: 3rem !important;
  }
  .justify-content-between-sm {
    justify-content: space-between !important;
  }
  .justify-content-around-sm {
    justify-content: space-around !important;
  }
  .align-items-center-sm {
    align-items: center;
  }
  .py-4-sm {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .text-center-sm {
    text-align: center;
  }
  .order-0-sm {
    order: 0;
  }
  .order-1-sm {
    order: 1;
  }
  .order-2-sm {
    order: 2;
  }
  .order-3-sm {
    order: 3;
  }
  .order-4-sm {
    order: 4;
  }
  .order-5-sm {
    order: 5;
  }
  .order-6-sm {
    order: 6;
  }
  .order-7-sm {
    order: 7;
  }
  .order-8-sm {
    order: 8;
  }
  .order-9-sm {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
}
.font-transparent {
  color: transparent !important;
}

.border-top-none {
  border-top: none !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E6E6E6;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}

@media (max-width: 550px) {
  [lang=en] .offcanvas.offcanvas-start {
    right: unset;
    padding-left: unset;
  }
}
@media (min-width: 551px) and (max-width: 990px) {
  [lang=en] .offcanvas.offcanvas-start {
    right: 0;
    padding-left: unset;
    padding-right: 0px;
  }
}
.home-header {
  background-size: cover;
  background-position: top;
  height: 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  animation: slider-animate 10s infinite alternate;
}
.home-header .linear-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
}

.breadcrumb-div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.breadcrumb-div .current-page {
  color: #D5D5D5;
}

.internal-header {
  background-size: cover;
  background-position: center center;
  height: 350px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.internal-header .internal-title h4 {
  font-size: 40px;
}
.internal-header .internal-title .sub-internal-title {
  color: #D9D9D9;
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0;
}

@keyframes slider-animate {
  0% {
    background-image: url(../images/herobox-1.png);
  }
  33% {
    background-image: url(../images/herobox-2.png);
  }
  66% {
    background-image: url(../images/herobox-3.png);
  }
  100% {
    background-image: url(../images/herobox-1.png);
  }
}
.main-logo {
  margin-inline-end: 15px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-btn, a.main-btn {
  height: 50px;
  width: 100%;
  background-color: #532259;
  border: 1px solid #532259;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
}

.account .main-btn {
  height: 65px !important;
}

#login-otp form {
  margin-top: 30px;
}
#login-otp .verification-code--inputs {
  direction: ltr;
  margin-top: 10px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
#login-otp .verification-code--inputs input {
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 5px !important;
  border: 1px solid #9A9A9A;
  text-align: center;
}

a.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  font-size: 16px;
}

.esta2nas {
  padding: 20px 25px;
}

.est2nas-content {
  border-radius: 5px;
}
.est2nas-content h4 {
  font-size: 24px;
  color: #666666;
  margin-bottom: 15px;
}
.est2nas-content h2 {
  font-size: 56px;
  color: #000;
}

nav ul .nav-item {
  margin: 0px 10px;
}
nav ul .nav-item .nav-link {
  color: #FFFFFF !important;
  transition: all 0.3s;
}
nav ul .nav-item .nav-link:hover, nav ul .nav-item .nav-link:active {
  color: #239cc6 !important;
  transition: all 0.3s;
}
nav ul .nav-item .nav-link.active {
  color: #239cc6 !important;
}
nav .dropdown-item {
  padding: 0px;
}

.currency {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 2px solid;
  border-color: #D0D0D0;
  border-radius: 5px;
  overflow: hidden;
}
.currency i {
  color: #4EAC46;
}
.currency img {
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 18px;
  width: 30px;
  border: 1px solid #d0d0d0;
}
.currency span {
  font-size: 14px;
  margin-inline-start: 5px;
}

i {
  font-family: "FontAwesome" !important;
}

.language-logo {
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 18px;
  width: 30px;
}

.dropdown-menu[data-bs-popper] {
  max-height: 600px;
  overflow-y: auto;
}

.currency.selected {
  border-color: #4EAC46;
}
.currency.selected span {
  font-weight: 500;
}

[lang=en] .dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0px;
}

.hero-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-content .hero-title {
  font-size: 68px;
  text-align: center;
  color: #FFFFFF;
}
.hero-content .hero-description {
  font-size: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.hero-content .hero-tabs {
  background-color: rgba(185, 185, 185, 0.16);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 20px 0px;
}
.hero-content .hero-tabs img {
  filter: grayscale(1);
}
.hero-content .hero-tabs .nav-link {
  color: #FFFFFF;
  font-size: 20px;
}
.hero-content .hero-tabs .nav-link.active {
  color: #DDDD01;
  background-color: transparent;
}
.hero-content .hero-tabs .nav-link.active img {
  filter: grayscale(0);
}
.hero-content .hero-tabs .radios {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hero-content .hero-tabs .radios .form-group {
  margin-inline-end: 30px;
}
.hero-content .hero-tabs .radios .form-group input[type=radio] {
  height: 18px;
  width: 18px;
}
.hero-content .hero-tabs .radios .form-group label {
  font-size: 16px;
  color: #FFFFFF;
}
.hero-content .hero-tabs .form-groups {
  display: flex;
  align-items: center;
}

.title-div .sub-title {
  margin-bottom: 15px;
}
.title-div .main-title h3 {
  color: #000;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-div .main-title h3 a {
  color: #532259;
  font-size: 16px;
}

.content {
  margin-top: 25px;
}

.registered-link {
  display: flex;
  align-items: center;
}

.default-profile-picture {
  height: 30px;
  width: 30px;
  background-color: #2BB2E1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border-radius: 50%;
  margin-inline-end: 5px;
}

.service-card {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.service-card .icon-bg {
  margin-inline-end: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E4F5FB;
  border-radius: 50%;
}

.static-page .main-title h3 {
  font-size: 28px;
  color: #000;
}

.inner-services {
  padding: 0;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.categories .single-category {
  background-color: #E4F5FB;
  color: #2BB2E1;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 50px;
}

p .available-on {
  color: #532259;
  text-decoration: underline;
  font-weight: bold;
}

.package-card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 20px;
}
.package-card .package-badge {
  border-radius: 50px;
  padding: 3px 15px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.package-card .package-badge span {
  color: #000;
  font-size: 12px;
}
.package-card h3 {
  padding-inline-end: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.package-card .location {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.package-card .location span {
  color: #D9D9D9;
  font-size: 14px;
}

.services .service-div {
  padding: 30px 0px;
}
.services .odd-div {
  background-color: #F7F7F7;
}
.services .even-div {
  background-color: #FFFFFF;
}
.services .title-div h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}

.offer-end {
  font-size: 16px;
  color: #FC0505;
}

.main-offer {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 8px;
}
.main-offer .offer-img img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.discover-more {
  color: #532259;
  text-decoration: underline;
  font-size: 16px;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.category-badges {
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 10px;
  color: #000;
  background-color: #E4F5FB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-badges span {
  font-size: 14px;
}

.offer-title {
  margin-top: 15px;
}
.offer-title h4 {
  font-size: 22px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.offer-description p {
  font-size: 16px;
  color: #666666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
}

.details-section {
  padding: 0px;
}
.details-section .details-div {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-inline-end: 30px;
}
.details-section .title-div .sm-main-title h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}
.details-section .download-div {
  margin-top: 20px;
}
.details-section .download-div .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #D9D9D9;
  color: #532259;
  font-size: 18px;
  height: 52px;
  background-color: #FFFFFF;
  width: 400px;
  border-radius: 5px;
  padding: 15px 45px;
  font-weight: 500;
  max-width: 100%;
}

.contact-card {
  padding: 70px 20px 30px;
  border: 1px solid #DEDEDE;
}
.contact-card .whatsapp-div {
  background-color: #25D366;
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
.contact-card .whatsapp-div i {
  color: #FFFFFF;
  font-size: 20px;
}
.contact-card .form-group {
  margin-top: 20px;
}
.contact-card .form-group .personal-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.contact-card .form-group input[type=text], .contact-card .form-group input[type=email] {
  height: 50px;
}
.contact-card .form-group input[type=text]::-moz-placeholder, .contact-card .form-group input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #DEDEDE;
}
.contact-card .form-group input[type=text]::placeholder, .contact-card .form-group input[type=email]::placeholder {
  font-size: 14px;
  color: #DEDEDE;
}
.contact-card .form-group label {
  margin-bottom: 5px;
}
.contact-card .form-group .item {
  border: 1px solid #DEDEDE;
  height: 48px;
  width: 85px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 15px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact-card .form-group .item.active {
  background-color: #532259;
  color: #FFFFFF;
}
.contact-card .main-btn {
  height: 65px !important;
}

.accordion-body img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.accordion {
  --bs-accordion-border-width: none !important;
}

.accordion-button.collapsed .accordion-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #2BB2E1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  z-index: 15;
}
.accordion-button.collapsed .accordion-circle .inner-circle {
  height: 17px;
  width: 17px;
  border: 1px solid #FFF;
  background-color: #FFF;
  border-radius: 50%;
}

.accordion-button:not(.collapsed) .accordion-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #2BB2E1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  z-index: 15;
}
.accordion-button:not(.collapsed) .accordion-circle .inner-circle {
  height: 17px;
  width: 17px;
  border: 1px solid #FFF;
  background-color: #2BB2E1;
  border-radius: 50%;
}

.accordion-button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: start;
  position: unset !important;
  gap: 10px;
}
.accordion-button:focus {
  box-shadow: none;
}

.vertical-line {
  height: 100%;
  width: 2px;
  position: absolute;
  left: 82px;
  background-color: #45BCE5;
  z-index: 4;
}

.vertical-line.package-vertical {
  left: 25px;
}

.cabin-img {
  max-width: 100%;
}

.contact-paragraph {
  font-size: 16px;
  color: #3D3D3D;
}

.custom-fc {
  margin-top: 70px !important;
}

.accordion-time {
  gap: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: #FFFFFF;
}

.terms-section {
  margin-top: 40px;
}
.terms-section .terms-div {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0588235294);
  border: 1px solid #E0E0E0;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}
.terms-section .terms-div .terms-item {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}
.terms-section .terms-div .terms-item img {
  margin-top: 5px;
}
.terms-section .terms-div .terms-item:last-of-type {
  margin-bottom: 0px;
}

.offer-card {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 8px;
}
.offer-card img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.offer-card .card-content {
  padding: 10px;
}
.offer-card .card-content h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.offer-card .card-content a {
  color: #532259;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}
.offer-card .card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.offer-card .badges {
  position: absolute;
  top: 10px;
  left: 10px;
}
.offer-card .badges .category-badges {
  border-radius: 2px;
  padding: 4px 8px;
}
.offer-card .badges .category-badges span {
  font-size: 12px;
}
.offer-card .badges img {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  width: unset !important;
}

.wayana-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
}
.wayana-card .airline {
  display: flex;
  align-items: center;
}
.wayana-card .airline img {
  width: unset !important;
}
.wayana-card .airline .airline-bg {
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wayana-card .calendar-icon {
  width: unset !important;
}
.wayana-card h5 {
  color: #2BB2E1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.esta2nas {
  padding: 20px 0px;
}
.esta2nas .est2nas-content {
  background-color: #E4F5FB;
}

.stop-flights input[type=checkbox] {
  height: 18px;
  width: 18px;
}

#switcher {
  cursor: pointer;
}

.footer {
  background-color: #F7F7F7;
  margin-top: 25px;
}

footer {
  padding: 50px 0px 20px;
  background-image: url(../images/World\ Map.png), linear-gradient(#532259, #532259);
  background-position: center center;
}
footer .footer-logo {
  margin-bottom: 15px;
}
footer .footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-item a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
}
footer .social-media {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2BB2E1;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .lower-footer {
  border-top: 1px solid #000;
  padding: 20px 0px 0px;
  margin-top: 20px;
}

.retrive .content {
  width: 600px;
  max-width: 100%;
  margin: 0px auto;
}
.retrive .content img {
  height: 300px;
}
.retrive .content h3 {
  font-size: 40px;
  color: #532259;
  font-weight: 500;
}
.retrive .content h5 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0px;
}
.retrive .content p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.account .auth-card {
  border: 1px solid #D9D9D9;
  padding: 20px 40px;
}
.account .auth-card .nav-pills {
  border-bottom: 1px solid #D9D9D9;
}
.account .auth-card .nav-pills .nav-link {
  color: #666666;
  font-weight: 400;
}
.account .auth-card .nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #532259;
  border-radius: 0px;
  color: #000;
  font-weight: 500;
}
.account .auth-card input {
  border-color: #D9D9D9 !important;
}
.account .auth-card input:focus {
  border-color: #D9D9D9 !important;
}
.account .auth-card .eye {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 18px;
}
.account .auth-card input[type=checkbox] {
  height: 15px;
  width: 15px;
}
.account .auth-card h5 a {
  color: #2BB2E1;
}

.iti__search-input {
  padding: 10px 20px !important;
}

.login-text {
  display: flex;
  align-items: center;
  padding: 0px 55px;
}
.login-text .content img {
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.login-text .content h5 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.login-text .content p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

#nav-tabs {
  gap: 20px;
}
#nav-tabs .nav-link {
  background-color: rgba(185, 185, 185, 0.16);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
#nav-tabs .nav-link img {
  filter: grayscale(1);
}
#nav-tabs .nav-link.active {
  color: #DDDD01;
}
#nav-tabs .nav-link.active img {
  filter: grayscale(0);
}

.offers .title-div h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}

.domestic-details {
  padding: 60px 0px !important;
}
.domestic-details .details-div {
  padding-top: 0px !important;
}
.domestic-details .contact-card {
  padding: 30px 20px 30px;
}
.domestic-details .owl-carousel {
  padding: 0px 50px;
  position: relative;
}
.domestic-details .owl-nav.disabled {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 42%;
  width: 100%;
  right: 0px;
}
.domestic-details .owl-nav.disabled button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border: 1px solid #000;
  border-radius: 50%;
}
.domestic-details .owl-nav.disabled button span {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 3px;
}

.hotel-card {
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.hotel-card h4 {
  margin-bottom: 30px;
  font-size: 22px;
}
.hotel-card .city-badge {
  background-color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hotel-card .city-badge span {
  font-size: 12px;
  padding: 3px 12px;
  color: #000;
}

.intl-tel-input,
.iti {
  width: 100%;
}

[lang=ar] * {
  font-family: "Swissra";
}

@media (max-width: 550px) {
  p {
    font-size: 14px !important;
  }
  .details-section .details-div {
    padding-bottom: 0px;
  }
  .offers .main-offer .col-md-6.col-lg-4.col-xl-4.col-12.mb-2 {
    order: 2;
  }
  .retrive .content img {
    height: 200px;
  }
  .retrive .content h3 {
    font-size: 30px;
  }
  .retrive .content h5 {
    font-size: 20px;
  }
  .retrive .content p {
    font-size: 14px;
  }
  .home-header {
    height: 850px;
  }
  .d-none-sm {
    display: none;
  }
  .text-center-sm {
    text-align: center;
  }
  .mx-auto-sm {
    margin-right: auto;
    margin-left: auto;
  }
  .est2nas-content {
    border-radius: 5px;
  }
  .est2nas-content h4 {
    font-size: 18px;
  }
  .est2nas-content h2 {
    font-size: 36px;
  }
  .title-div .sub-title {
    margin-bottom: 15px;
  }
  .title-div .main-title h3 {
    color: #000;
    font-size: 24px;
  }
  .title-div .main-title h3 a {
    color: #532259;
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .owl-nav.disabled {
    display: none !important;
  }
  .vertical-line {
    display: none;
  }
  .offer-end {
    font-size: 14px;
  }
  .internal-header .internal-title h4 {
    font-size: 24px;
  }
  .account .auth-card {
    padding: 20px 5px;
  }
  .login-text {
    display: none;
  }
  .hero-content .hero-title {
    font-size: 34px;
  }
  .hero-content .hero-description {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .offcanvas {
    background-color: #000;
  }
  .offcanvas .btn-close {
    filter: invert(1);
  }
  .hero-content .hero-tabs .nav-link {
    font-size: 16px;
  }
  .hero-content .hero-tabs .radios .form-group {
    margin-inline-end: 18px;
  }
  .hero-content .hero-tabs .radios label {
    font-size: 14px !important;
  }
  #nav-tabs {
    gap: 5px;
  }
  #nav-tabs .nav-link {
    padding: 13px 10px;
    font-size: 12px;
  }
  #nav-tabs .nav-link img {
    height: 18px !important;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .esta2nas .est2nas-content {
    background-color: #E4F5FB;
    padding: 10px 50px;
  }
  .home-header {
    height: 70vh;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  nav ul .nav-item {
    margin: 0px;
  }
}/*# sourceMappingURL=style.css.map */